* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1.1rem;
    font-family: Inter;
    background-color: hsl(0,0%,8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper {
    background-color: hsl(0,0%,12%);
    max-width: 350px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    height: auto;
}
.avatar {
    border-radius: 50%;
}
.wrapper h1 {
    color: hsl(0,0%,100%);
    margin: 1rem 0;
    font-weight: 400;
}
.address {
    color: hsl(75,94%,57%);
    font-weight: 400;
    margin-top: -0.7rem;
    margin: -0.7rem 0 1rem 0;
}
.quotes {
    color: hsl(0, 0%,100%);
    font-weight: 400;
    margin: 1rem 0;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 100%;
    width: 100%;
}
button {
    color: hsl(0,0%,100%);
    background-color: hsl(0,0%,20%);
    border: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: 7px;
    font-family: Inter;
    font-weight: 600;
}
button:active {
    background-color: hsl(75,94%,57%);
}